@font-face {
    font-family: "San Francisco Thin";
    font-style: normal;
    font-weight: bold;
    src: url('./fonts/SF-Pro-Display-Thin.otf') format("opentype");
}

@font-face {
    font-family: "San Francisco Regular";
    font-style: normal;
    font-weight: bold;
    src: url('./fonts/SF-Pro-Display-Regular.otf') format("opentype");
}

@font-face {
    font-family: "San Francisco Bold";
    font-style: normal;
    font-weight: bold;
    src: url('./fonts/SF-Pro-Display-Bold.otf') format("opentype");
}

body {
    height: 90vh;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-around;
    height: 160px;
    padding: 5px;
    height: 90vh;
}
.bus {
    width: 100%;
    margin-bottom: 15px;
}
.paradas {
    width: 100%;
}
select {
    width: 60%;
    height: 40px;
    font-size: 19px;
}
.header-title {
    font-family: "San Francisco Thin"
}
.title-domain {
    margin: 0;
    text-transform: uppercase;
    font-family: "San Francisco Thin"
}
.text-parada {
    font-size: 20px;
    font-family: 'San Francisco Regular'
}
.text-default {
    font-size: 35px;
    font-family: 'San Francisco Bold'
}